#!ipxe

kernel http://2182onprem.hf.intel.com/static/netboot/wimboot
imgfetch http://2182onprem.hf.intel.com/static/live/wimagerusb/test/BCD BCD
imgfetch http://2182onprem.hf.intel.com/static/live/wimagerusb/test/boot.wim boot.sdi
bimgfetch http://2182onprem.hf.intel.com/static/live/wimagerusb/test/boot.wim boot.wim
boot